In [1]:
import pandas as pd

In [2]:
filename = "staff_detail.csv"
df = pd.read_csv(filename)
df

    ID Level  UpdateDate
0    1     A  2019-08-09
1    1     S  2020-12-08
2    2     A  2021-05-30
3    3     A  2018-03-26
4    3     S  2020-12-08
5    4     A  2022-05-02
6    5     A  2019-11-05
7    5     S  2022-04-25
8    6     A  2022-03-03
9    7     A  2017-03-29
10   7     S  2018-05-02
11   7     M  2021-09-01
12   8     A  2018-11-26
13   8     S  2020-03-15
14   8     M  2022-05-03

In [3]:
# Get Series
df.UpdateDate

0     2019-08-09
1     2020-12-08
2     2021-05-30
3     2018-03-26
4     2020-12-08
5     2022-05-02
6     2019-11-05
7     2022-04-25
8     2022-03-03
9     2017-03-29
10    2018-05-02
11    2021-09-01
12    2018-11-26
13    2020-03-15
14    2022-05-03
Name: UpdateDate, dtype: object

In [4]:
# Convert datetime-format-string to pandas' Datetime
pd.to_datetime(df.UpdateDate)

0    2019-08-09
1    2020-12-08
2    2021-05-30
3    2018-03-26
4    2020-12-08
5    2022-05-02
6    2019-11-05
7    2022-04-25
8    2022-03-03
9    2017-03-29
10   2018-05-02
11   2021-09-01
12   2018-11-26
13   2020-03-15
14   2022-05-03
Name: UpdateDate, dtype: datetime64[ns]

In [5]:
pd.to_datetime(df.UpdateDate)

0    2019-08-09
1    2020-12-08
2    2021-05-30
3    2018-03-26
4    2020-12-08
5    2022-05-02
6    2019-11-05
7    2022-04-25
8    2022-03-03
9    2017-03-29
10   2018-05-02
11   2021-09-01
12   2018-11-26
13   2020-03-15
14   2022-05-03
Name: UpdateDate, dtype: datetime64[ns]

In [6]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Europe/Berlin")

Timestamp('2019-08-09 00:00:00+0200', tz='Europe/Berlin')

In [7]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Europe/London")

Timestamp('2019-08-09 00:00:00+0100', tz='Europe/London')

In [8]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Europe/London").tz_convert("Asia/Tokyo")

Timestamp('2019-08-09 08:00:00+0900', tz='Asia/Tokyo')

In [9]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Asia/Tokyo")

Timestamp('2019-08-09 00:00:00+0900', tz='Asia/Tokyo')

In [10]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("US/Central")

Timestamp('2019-08-09 00:00:00-0500', tz='US/Central')

In [11]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("US/Central").hour

0

In [12]:
converted_dt = pd.to_datetime(df.UpdateDate)[0].tz_localize("US/Central")

In [13]:
converted_dt

Timestamp('2019-08-09 00:00:00-0500', tz='US/Central')

In [14]:
converted_dt.asm8

numpy.datetime64('2019-08-09T05:00:00.000000000')

In [15]:
pd.to_datetime(converted_dt.asm8).hour

5