In [15]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(
    data=range(0, 10),
    columns=["testcol"]
)
df

   testcol
0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9

In [10]:
df.testcol.rolling(window=2).sum()

0     NaN
1     1.0
2     3.0
3     5.0
4     7.0
5     9.0
6    11.0
7    13.0
8    15.0
9    17.0
Name: testcol, dtype: float64

In [17]:
df2 = pd.DataFrame(
    np.random.randint(1, 10, 30),
    columns=["testcol"]
)
df2

    testcol
0         4
1         9
2         4
3         3
4         2
5         4
6         4
7         5
8         8
9         9
10        5
11        4
12        8
13        5
14        7
15        4
16        6
17        6
18        6
19        1
20        5
21        9
22        6
23        3
24        1
25        2
26        2
27        4
28        6
29        3

In [20]:
df2.testcol.rolling(window=5).sum()

0      NaN
1      NaN
2      NaN
3      NaN
4     22.0
5     22.0
6     17.0
7     18.0
8     23.0
9     30.0
10    31.0
11    31.0
12    34.0
13    31.0
14    29.0
15    28.0
16    30.0
17    28.0
18    29.0
19    23.0
20    24.0
21    27.0
22    27.0
23    24.0
24    24.0
25    21.0
26    14.0
27    12.0
28    15.0
29    17.0
Name: testcol, dtype: float64

In [19]:
df2.testcol.rolling(window=5).apply(lambda x: sum(x))

0      NaN
1      NaN
2      NaN
3      NaN
4     22.0
5     22.0
6     17.0
7     18.0
8     23.0
9     30.0
10    31.0
11    31.0
12    34.0
13    31.0
14    29.0
15    28.0
16    30.0
17    28.0
18    29.0
19    23.0
20    24.0
21    27.0
22    27.0
23    24.0
24    24.0
25    21.0
26    14.0
27    12.0
28    15.0
29    17.0
Name: testcol, dtype: float64