In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    data=range(0, 10),
    columns=["testcol"]
)
df

   testcol
0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9

In [3]:
df.testcol.rolling(window=5).sum()

0     NaN
1     NaN
2     NaN
3     NaN
4    10.0
5    15.0
6    20.0
7    25.0
8    30.0
9    35.0
Name: testcol, dtype: float64

In [4]:
df.testcol.rolling(window=5, min_periods=2).sum()

0     NaN
1     1.0
2     3.0
3     6.0
4    10.0
5    15.0
6    20.0
7    25.0
8    30.0
9    35.0
Name: testcol, dtype: float64

In [ ]:
df2 = pd.DataFrame(
    np.random.randint(1, 10, 30),
    columns=["testcol"]
)
df2

In [ ]:
df2.testcol.rolling(window=5).std()

In [ ]:
df2.testcol.rolling(window=5).apply(lambda x: sum(x))

In [ ]:
df2.testcol.rolling(window=5, center=True).apply(lambda x: sum(x))